.extendTexto{
    color: rgb(122, 122, 122);
    font-weight: bolder;
}

.cuerpo{
    background-color: $colorBody;
}
.texto{
    @extend .extendTexto;
    font-family: 'Roboto', sans-serif;
}

h1{
    @extend .extendTexto;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}